<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/constancia.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <!-- Google fonts-->
    <title>Document</title>
</head>
<body>

    <header class="main-header">
        <h1>Constancia de Niño Sano</h1>
        <nav>
            <ul>
                <li><a  class="regresar" method="POST" href="/verPerfil/<%=data.id%>">Regresar</a></li>
                <li><a class="regresar" method="POST" href="/getPacientes">Ver pacientes</a></li>
            </ul>
        </nav>
    </header>
    <form id='formulario' data-id='<%= data.id %>'>
    <div class="container" >
        <div class="container-form">
            <div class="content-input">
                <label for="evaluacion" class="eva">Se evalúa a:</label>
                <input type="text" id="evaluacion" name="evaluacion" required>

                <label for="piel" >Piel y mucosa: </label>
                <input type="text" id="piel" name="piel" required>

                <label for="peso" class="peso">Peso (kg):</label>
                <input type="number" id="peso" name="peso" step="0.01" required>

                <label for="talla" class="tall">Talla (cm):</label>
                <input type="number" id="talla" name="talla" required>

                <label for="temperatura">Temperatura (°C):</label>
                <input type="number" id="temperatura" name="temperatura" step="0.1" required>

                <label for="cardio" class="cardio">Cardiorrespiratorio:</label>
                <input type="text" id="cardio" name="cardio" required>

                <label for="abdomen" class="ad">Abdomen:</label>
                <input type="text" id="abdomen" name="abdomen" required>

                
                <label for="laboratorio" id="rr">Resultados del Laboratorio:</label>
                <input type="text" id="laboratorio" name="laboratorio" required>
                <br>

                <label for="snc">SNC:</label>
                <input type="text" id="snc" name="snc" required>

                <label for="inmunizaciones" class="inn">Inmunizaciones:</label>
                <input type="text" id="inmunizaciones" name="inmunizaciones" required>

                <label for="idx" class="idx">IDX:</label>
                <input type="text" id="idx" name="idx" required>
                </div>
               
        </div>
    </div>
    
    <div class="container-btn">
        <button href="/estados/agregar" type="submit" class="btn">Registrar</button>
    </div>
</form>


<script type="text/javascript">
    const formulario = document.getElementById('formulario');
    const idPacientes = formulario.dataset.id;

    formulario.addEventListener('submit',event=>{
    event.preventDefault();

     const data = new FormData(formulario);
    
    
    const evaluacion = data.get('evaluacion');
    const piel = data.get('piel');
    const peso = data.get('peso');
    const talla = data.get('talla');
    const temperatura = data.get('temperatura');
    const cardio = data.get('cardio');
    const abdomen = data.get('abdomen');
    const laboratorio = data.get('laboratorio');
    const snc = data.get('snc');
    const inmunizaciones = data.get('inmunizaciones');
    const idx = data.get('idx');
    
    fetch('/addconsultasPOST',{
        method:'post',
        headers:{
            'Content-Type':'application/json'
        },
        body:JSON.stringify({evaluacion,piel,peso,talla,temperatura,cardio,abdomen,laboratorio,snc,inmunizaciones,idx,idPacientes})
    })
    .then(res=>res.json())
    .then(res=>{
        if(res.interruptor){
         alert('Registro completado con exito');
         setTimeout(()=>{
         window.location.href="/verPerfil/"+idPacientes;
         },2000);
        }else if(res.discrepancia){
         alert('La cedula del representante es incorrecta');
        }else{
         alert('Error de la capa 8 detectado <[+_+]>');
        }
    })
    });


   


</script>
</body>

</html>